/* Base style for site, elements and site wide styles */

*,
*:after,
*::before {
	@include box-sizing(border-box);
}

html,
body {
	height: 100%;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

a {
    text-decoration: none;
}


// page styles

.page-wrapper {
    background: $page-background-color;
}

.page-pusher {
    background: $white;
}

main {
    background: $light-blue;
}