/* Overall layout */

*,
*:after,
*::before {
	@include box-sizing(border-box);
}

html,
body,
.page-wrapper,
.page-pusher,
.content-wrapper,
main {
	height: 100%;
}

.content-wrapper {
	overflow: hidden;
	padding-top: $page-header-height;
}

.page-wrapper,
.page-pusher,
.content-wrapper,
main {
	position: relative;
}

.page-wrapper {
	overflow: hidden;
	@include perspective(1500px);
	@include perspective-origin(50% 50%);
	@include backface-visibility(hidden);
}

.page-pusher {
	left: 0;
	height: 100%;
	@include transform-style(preserve-3d);
	@include backface-visibility(hidden);
}

.content-overlay {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2); // TODO variablize
	opacity: 0;
	z-index: 1;
	@include transition(opacity $main-menu-transition-time, width 0.1s $main-menu-transition-time, height 0.1s $main-menu-transition-time);
}



/* layout classes */

.flex-row {
	@include flexbox();

	.static {
		@include flex-grow(0);
	}
	.grow {
		@include flex-grow(1);
	}
}

.label-row {
	position: relative;

	.static {
		position: absolute;
		left: 0;
		top: 0;
	}
}

.table-display {
	display: table;

	.row {
		display: table-row;
	}

	.row > * {
		display: table-cell;
	}
}


/************************************************************************************
  	Main section layouts
************************************************************************************/

main {
	// // smaller than everything - no side padding, horizontal scroll if needed
    padding: $standard-spacing 0;

    // tiny, clamp at 300px, and allow side padding to grow to 1em

	// small, we now have enough space for min width column 300px + 1em of padding
	@media (min-width: $layout-small) {
	    padding: $standard-spacing;
	    max-width: none;
	    margin: 0;
	}

	// medium - two columns available
	@media (min-width: $layout-medium) {
	}

	// large - three columns available
	@media (min-width: $layout-large) {
	}

	// massive - four columns available
	@media (min-width: $layout-massive) {
	}

	// super massive - four columns + context menu
	@media (min-width: $layout-super-massive) {
	}

	// super massive black hole - four columns + both menus menu
	@media (min-width: $layout-super-massive-black-hole) {
	}
}


body {
	overflow: hidden;
}

#wrapper {
	position: relative;
	height: 100%;
	overflow: hidden;
	/* Prevent native touch events on Windows */
	-ms-touch-action: none;

	/* Prevent text resize on orientation change, useful for web-apps */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	padding: 0;

	.no-touch & {
		overflow: auto;
	}



}

#scroller {
	/* Prevent elements to be highlighted on tap */
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	/* Put the scroller into the HW Compositing layer right from the start */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);

	overflow-x: auto;

	height: 100%;
}



