* {
  	color: $standard-text-color;
  	line-height: $standard-line-height;
  	@include box-sizing(border-box);
}

h1, h2, h3, h4, h5, h6, p {
	padding: 0;
	margin: 0;
	line-height: $standard-line-height;
}

h1{
	font-size: $h1-font-size;
	line-height: 1.5;
}

h2{
	font-size: $h2-font-size;
}
