.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.hidden {
	display: none ;
}

.hide-text {
	text-indent: -5000px;
	overflow: hidden;
}
