/***************** Colour Pallette ******************/

    /* Grey scale */
    $white: #fff;
    $off-white: #ddd;
    $medium-grey: #444;
    $dark-grey: #222;

    /* Colours */
    $dark-blue: #1A477A;
    $medium-blue: #97C4F7;
    $light-blue: #D1D5E6;

    $bright-red: #AB0D0D;
    $bright-red-darken: #800B0B;


    /* global colours */
    $primary-color: $bright-red;
    $primary-color-darken: $bright-red-darken;


/***************** Layout ***************************/

$page-min-width: 240px;
$page-max-width: 1000px;


/***************** Typography ***********************/

$standard-line-height: 1.2;
$h1-font-size: 2em;
$h2-font-size: 1.6em;
$h3-font-size: 1.4em;
$h4-font-size: 1.2em;

$standard-text-color: $dark-grey;
$inverted-text-color: $white;


/**************** Backgrounds ***************************/

$background-medium-grey: $medium-grey;
$page-background-color: #333;


/**************** Global ****************************/

    /* Buttons */
    $link-hover-transition-time: 0.3s;
    $link-hover-delay-time: 0.1s;


/**************** Modules ***************************/

    /* Page Header */
    $page-header-height: $h1-font-size * $standard-line-height;

	/* Main Menu */
	$main-menu-transition-time: 0.5s;
	$main-menu-width: 200px; // TODO - do dynamically? maybe
    $main-menu-background-color: $dark-blue;
    $main-menu-delay-time: 0.1s;

    /* Context Menu */
    $context-menu-transition-time: 0.5s;
    $context-menu-width: 300px;
    $context-menu-background-color: $medium-blue;



/***************** Icons ****************************/

$icon-standard-width: 32px;
$icon-standard-height: $icon-standard-width;


/***************** Spacing *****************************/

$standard-padding: 1em;
$standard-spacing: 1em;


/***************** Misc *****************************/

$standard-box-shadow: 1px -4px 14px -6px #000;


