/***************** Colour Pallette ******************/

$bg-white: #fff;
$dark-grey: #222;


/***************** Global ***************************/

$standard-text-color: $dark-grey;


/***************** Layout ***************************/

$page-min-width: 240px;
$page-max-width: 1000px;


/***************** Typography ***********************/

$standard-line-height: 1.4;
$h1-font-size: 64px;
$h2-font-size: $h1-font-size/2; 
$h1-line-height: 64px * $standard-line-height;
$h2-line-height: 32px * $standard-line-height;


/***************** Misc *****************************/



/***************** Elements *************************/



/***************** Compontents **********************/



/**************** Modules ***************************/

