
/* layout and transition style */

.context-menu {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
	visibility: hidden;
	width: $context-menu-width;
	height: 100%;
	@include transition(all $context-menu-transition-time);
	@include transform(translate3d(100%, 0, 0) rotateY(79deg));
	@include transform-origin(0, 50%); //eafefafeaf
	@include transform-style(preserve-3d);
	@include backface-visibility(hidden);

	&::after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.2);
		content: '';
		opacity: 1;
		@include transition(opacity $context-menu-transition-time);
	}
}

.context-menu-open {
	.context-menu {
		visibility: visible;
		@include transition(transform $context-menu-transition-time);
		@include transform(translate3d(100%, 0, 0) rotateY(0deg));

		&::after {
			width: 0;
			height: 0;
			opacity: 0;
			@include transition(opacity $context-menu-transition-time, width 0.1s $context-menu-transition-time, height 0.1s $context-menu-transition-time);
		}
	}

	.page-pusher {
		@include transform(translate3d(-$context-menu-width, 0, 0));
	}

	.content-overlay {
		width: 100%;
		height: 100%;
		opacity: 1;
		@include transition(opacity $context-menu-transition-time);
	}
}

// Styling

.context-menu {
	background-color: $context-menu-background-color;

}



