

/* layout and transition style */

nav {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	height: 100%;
	@include transition(all $main-menu-transition-time );
	@include transform(translate3d(-130%, 0, 0));
	@include transform-origin(100%, 50%);
	@include transform-style(preserve-3d);
	@include backface-visibility(hidden);
}

.page-pusher {
	@include transition(transform $main-menu-transition-time $main-menu-delay-time);
}

.content-overlay {
	@include transition(opacity $main-menu-transition-time $main-menu-delay-time,
		width 0s $main-menu-transition-time + $main-menu-delay-time,
		height 0s $main-menu-transition-time + $main-menu-delay-time);
}

.menu-open {
	nav {
		@include transition(transform $main-menu-transition-time $main-menu-delay-time);
		@include transform(translate3d(0, 0, 0));
	}

	.page-pusher {
		@include transform(translate3d(100px, 0, -600px) rotateY(-20deg));
		@include transition(transform $main-menu-transition-time);
	}

	.content-overlay {
		width: 100%;
		height: 100%;
		opacity: 1;
		@include transition(opacity $main-menu-transition-time);
	}
}


/* appearance style */

nav {
	width: $main-menu-width;
	background: $primary-color;
    box-shadow: 0px 0px 13px -2px #000;
    text-transform: uppercase;
    @include customFont();
    font-size: 1.2em;

    // jagged point
	&::before {
		content: '';
		position: absolute;
		top: -10%;
		left: 0;
		right: -6%;
		height: 75%;
		@include transform(rotateZ(10deg));
		background: $primary-color;
		@include box-shadow(8px 0 12px -10px #000);
	}

	ul {
		padding-right: 20%;
		padding-left: $standard-spacing * 0.5;
		margin-top: $standard-spacing;
	}

	li {
		margin-top: $standard-spacing * 0.5;
	}

	a {
		display: block;
		position: relative;
		padding: 0.4em $standard-spacing * 0.5 0.3em;
		color: $white;
		opacity: 0.8;
		@include transition(all $link-hover-transition-time ease-in-out);

		// white underline
		&::before, &::after {
			content: '';
			position: absolute;
			bottom: 0.1em;
			@include transition(all $link-hover-transition-time ease-in-out);
		}

		&::before {
			left: $standard-spacing * 0.5;
			right: 100% - $main-menu-underline-width;
			height: 2px;
			background: $white;
		}

		&::after {
			left: $main-menu-underline-width;
			height: 0;
			width: 0;
			line-height: 0;
			border-style: solid;
			border-width: 0 5px 2px 0;
			border-color: transparent transparent $white;
		}

		&.selected, &:hover {
			@include transition(all $link-hover-transition-time ease-in-out $link-hover-delay-time);
			opacity: 1;

			&::before, &::after {
				@include transition(all $link-hover-transition-time ease-in-out $link-hover-delay-time);
			}

			&::before {
				right: 100% - $main-menu-underline-width-hover;
			}

			&::after {
				left: $main-menu-underline-width-hover;
			}
		}
	}
}

// hide if can't rotate
.no-csstransforms3d {
	nav::before {
		display: none;
	}
}
