
.page-header {
	padding: 0 $page-header-height + $standard-padding;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.menu-button, .context-menu-button {
	position: absolute;
	top: 0;
	bottom: 0;
	width: $page-header-height;
	background: red;
}

.menu-button {
	left: 0;
}

.context-menu-button {
	right: 0;
}