
.page-header {
	padding: 0 $page-header-height + $standard-padding;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    @include box-shadow(0px -9px 11px 5px #000); //TODO
    z-index: 1; // TODO - sort index variables

    h1 {
        text-transform: uppercase;
    }


}

.menu-button, .context-menu-button {
	position: absolute;
	top: 0;
	bottom: 0;
	width: $page-header-height;
    background-color: $primary-color;
}

.menu-button {
	left: 0;
}

.context-menu-button {
	right: 0;
}