
.game-summary {
    position: relative;
    padding-left: $game-summary-info-width;
    border-top: 1px solid $off-white;

    &:first-child {
        border: none;
    }

    .game-info {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: $game-summary-info-width;
        background: $off-white;
        overflow: hidden;
    }

    .versus {
        color: $primary-color;
        position: absolute;
        width: 1.85em; // eyeballed
        height: 1.85em;
        top: $game-team-score-size/2;
        right: 0;
        text-align: center;
        line-height: $game-team-score-size;
        font-size: $h4-font-size;
        overflow: hidden;
        z-index: 2;

        &.collapsed {
            height: 2px;
            background: $off-white;
            top: 50%;
            text-indent: -100px;
        }
    }

    @media (min-width: $layout-medium) {
        display: flex;

        .versus {
            right: auto;
            left: 50%;
            top: 0;
            margin-left: -0.1em; // eyeballed.

            &.collapsed {
                margin: 0;
                width: 1px;
                height: auto;
                position: static;
                top: auto;
                left: auto;
            }
        }
    }

}