

.game-team {

    .game-headline {
        position: relative;
        min-height: $game-team-score-size*$game-team-score-font-size;
        padding-right: (($game-team-score-size*$game-team-score-font-size) + $game-team-headline-padding);
        padding-left: $game-team-headline-padding;
        padding-top: 0.7em;
        padding-bottom: 0.3em;
        text-align: center;
    }

    .team-name {

    }

    .score {
        background-color: $primary-color;
        color: $white;
        position: absolute;
        width: $game-team-score-size;
        height: $game-team-score-size;
        top: 0;
        right: 0;
        text-align: center;
        line-height: $game-team-score-size;
        font-size: $game-team-score-font-size-em;
    }

    .game-goals {
        display: none;
    }

    ~ .game-team {
        .game-headline {
            padding-top: 0.45em;
            padding-bottom: 0.55em;
        }
    }
}

@media (min-width: $layout-medium) {

    .game-team {
        width: 50%;
    }

    .game-team .game-headline {
        padding-top: 0.55em;
        padding-bottom: 0.45em;
    }

    .game-team ~ .game-team {
        border-top: 0px none;

        .game-headline {
            padding-right: $game-team-headline-padding;
            padding-left: (($game-team-score-size*$game-team-score-font-size) + $game-team-headline-padding);
            padding-top: 0.55em;
            padding-bottom: 0.45em;
        }

        .score {
            right: auto;
            left: 0;
        }
    }
}