
// Team headline directive

.team-headline {

    .team-logo {
        display: none;
    }

    @media (min-width: $layout-medium) {
        min-height: $team-headline-min-height;

        .team-logo {
            display: block;
            position: absolute;
            @include filter(none);
            opacity: 1;
            width: $team-headline-image-width;
            height: $team-headline-image-height;
            top: $section-padding-top;
            right: $section-padding-right;
            border: 1px solid $off-white;
            @include border-radius($standard-border-radius);
            background-color: $white;
            background-size: 100%;
            z-index: 2;
        }

        .background-image {
            display: none;
        }

        header {
            padding-right: $team-headline-image-width + $section-padding-right;
        }

        .content {
            padding-right: $team-headline-image-width + $section-padding-right * 2;
        }

    }
}